<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin PUBLIC "-//PKP//OJS Plugin 3.3//EN" "http://pkp.sfu.ca/ojs/dtd/plugin-3.3.dtd">
<plugin>
    <id>premiumSubmissionHelper</id>
    <name>Premium Submission Helper Plugin</name>
    <description>Plugin OJS avec intégration de l'analyse IA Santaane pour l'analyse de texte et les suggestions d'amélioration.</description>
    <version>1.0.0</version>
</plugin>

